<div class="row">
  <div class="col-xs-12">
    <h1>{{table.leagueCaption}}</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Team</th>
            <th>P</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>F</th>
            <th>A</th>
            <th>GD</th>
            <th>P</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hoverPointer" ng-click="viewTeam(team)" ng-repeat="team in table.standing | orderObjectBy:'position'">
            <td>{{ team.position }} </td>
            <td>{{ team.teamName }}</td>
            <td>{{ team.playedGames }}</td>
            <td>{{ team.wins }}</td>
            <td>{{ team.draws }}</td>
            <td>{{ team.losses }}</td>
            <td>{{ team.goals }}</td>
            <td>{{ team.goalsAgainst }}</td>
            <td>{{ team.goalDifference }}</td>
            <td>{{ team.points }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
