<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="styles/bootstrap-journal.min.css" />
  <link rel="stylesheet" href="styles/Override-bootstrap.css">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body ng-app="fotbollskalendernWebApp">
  <div class="container">

    <nav class="navbar navbar-default	navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">The football calendar</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" shortcuts>
            <li><a ng-href="#/">This weeks matches</a></li>
            <li><a ng-href="#/calendar">30 days</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="leagues" role="button" aria-haspopup="true" aria-expanded="false">Leagues <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li ng-repeat="league in leagues"><a class="hoverPointer" ng-click="viewLeague(league.name)">{{ league.name }}</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="favourites" role="button" aria-haspopup="true" aria-expanded="false">Favourites <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li ng-repeat="favourite in favourites"><a class="hoverPointer" ng-click="viewMatch(favourite.url)">{{ favourite.name }}</a></li>
              </ul>
            </li>
            <li><a ng-href="#/about">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-12">
        <div ng-view=""></div>
      </div>
    </div>
    <div class="footer">
      <p><span class="glyphicon glyphicon-heart"></span> from <a href="https://github.com/kvasir">Kvasir</a></p>
    </div>
  </div>

  <script src="bower_components/jquery/dist/jquery.js"></script>

  <!-- Added to hide navbar on click in mobile -->
  <script>
    $(function() {
      var navMain = $(".navbar-collapse"); // avoid dependency on #id
      // "a:not([data-toggle])" - to avoid issues caused
      // when you have dropdown inside navbar
      navMain.on("click", "a:not([data-toggle])", null, function() {
        navMain.collapse('hide');
      });
    });
  </script>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/json3/lib/json3.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-apimock/dist/angular-apimock.min.js"></script>
  <script src="bower_components/angular-local-storage/angular-local-storage.js"></script>

  <script src="scripts/app.js"></script>
  <script src="scripts/constants/leagues.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/calendar.js"></script>
  <script src="scripts/controllers/match.js"></script>
  <script src="scripts/controllers/team.js"></script>
  <script src="scripts/controllers/league.js"></script>
  <script src="scripts/directives/gamesList.js"></script>
  <script src="scripts/directives/shortcuts.js"></script>
  <script src="scripts/directives/leagueFilter.js"></script>
  <script src="scripts/services/matchService.js"></script>
  <script src="scripts/services/favouritesService.js"></script>
  <script src="scripts/services/filterService.js"></script>
  <script src="scripts/services/dataService.js"></script>
  <script src="scripts/services/teamService.js"></script>
</body>
</html>
