<h2>Kalender</h2>

<h1>Idag</h1>
<table class="table table-hover">
    <thead>
    <tr>
      <th>Tid</th>
      <th>Hemmalag</th>
      <th>Bortalag</th>
      <th>Liga</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-click="matchInfo(game)" ng-repeat="game in games | orderBy:sortBy">
        <td>{{game.time}}</td>
        <td>{{game.homeTeam}}</td>
        <td>{{game.awayTeam}}</td>
        <td>{{game.league}}</td>
    </tr>
</table>

<table class="table table-hover">
    <thead>
        <h1>Imorgon</h1>
    <tr>
      <th>Tid</th>
      <th>Hemmalag</th>
      <th>Bortalag</th>
      <th>Liga</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-click="matchInfo(game)" ng-repeat="game in nextGames | orderBy:sortBy">
        <td>{{game.time}}</td>
        <td>{{game.homeTeam}}</td>
        <td>{{game.awayTeam}}</td>
        <td>{{game.league}}</td>
    </tr>
</table>
