<div class="hoverPointer" ng-click="matchInfo(game)" ng-repeat="game in games | orderBy:sortBy">
    <div class="panel panel-info">
        <div class="panel-heading"> {{game.time}}</div>
        <div class="panel-body">
        <span>{{game.homeTeam}}  vs  {{game.awayTeam}}</span>
        </div>
    </div>
</div>
<div class="row" ng-repeat="day in allDays">
    <div class="col-xs-12">
        <h1>{{ day.date | date:'EEEE' }}</h1>
        <games-list include-date="false" action="matchInfo" games="day.games"></games-list>
    </div>
</div>
