<div class="row">
    <div class="col-xs-12">
        <h1> {{match.fixture.date | date:'HH:mm'}} {{match.fixture.homeTeamName}} vs {{match.fixture.awayTeamName}}</h1>
    </div>
    <div class="col-md-6">
        <h4><a href="" ng-click="teamInfo(match, true)">{{match.fixture.homeTeamName}}</a></h4>
    </div>
    <div class="col-md-6">
        <h4 class="text-right"><a href="" ng-click="teamInfo(match.fixture)">{{match.fixture.awayTeamName}}</a></h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <blockquote>
            <h4>Statistik</h4>
            <p>
                Antal vinster hemmalag: <strong>{{match.head2head.awayTeamWins}}</strong>
            </p>
            <p>
                Antal vinster bortalag: <strong>{{match.head2head.homeTeamWins}}</strong>
            </p>
            <p>
                Antal oavgjorda matcher: <strong>{{match.head2head.draws}}</strong>
            </p>
        </blockquote>
    </div>
</div>
