<div class="row">
    <div class="col-xs-12">
        <h1> {{match.date | date:'HH:mm'}} {{match.homeTeamName}} vs {{match.awayTeamName}}</h1>
    </div>
    <div class="col-md-6">
        <h4><a href="" ng-click="teamInfo(match, true)">{{match.homeTeamName}}</a></h4>
        <div class="col-xs-4">
            <img class="img-responsive" ng-if="match.homeTeamName === 'CF Elche'" ng-src="http://upload.wikimedia.org/wikipedia/en/thumb/a/a7/Elche_CF_logo.svg/833px-Elche_CF_logo.svg.png"/>
        </div>
    </div>
    <div class="col-md-6">
        <h4 class="text-right"><a href="" ng-click="teamInfo(match)">{{match.awayTeamName}}</a></h4>
        <div class="col-xs-4 pull-right">
            <img class="pull-right img-responsive" ng-if="match.awayTeamName === 'SD Eibar'" ng-src="http://upload.wikimedia.org/wikipedia/en/thumb/7/75/SD_Eibar_logo.svg/187px-SD_Eibar_logo.svg.png"/>
        </div>
    </div>
</div>
