<div class="row">
    <div class="col-xs-12">
        <h1> {{match.date | date:'HH:mm'}} {{match.homeTeam}} vs {{match.awayTeam}}</h1>
    </div>
    <div class="col-md-6">
        <h4><a href="" ng-click="teamInfo(match.homeTeam)">{{match.homeTeam}}</a></h4>
    </div>
    <div class="col-md-6">
        <h4 class="text-right"><a href="" ng-click="teamInfo(match.awayTeam)">{{match.awayTeam}}</a></h4>
    </div>
</div>

<div class="row">
    <div class="col-md-3 "><a href="#">iCal<i class="glyphicon glyphicon-calendar"></i></a></div>
    <div class="col-md-3 "><a href="#">outlook<i class="glyphicon glyphicon-calendar"></i></a></div>
    <div class="col-md-3 "><a href="#">google<i class="glyphicon glyphicon-calendar"></i></a></div>
    <div class="col-md-3 "><a href="#">email<i class="glyphicon glyphicon-calendar"></i></a></div>
</div>